<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LearnersAcademy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>admin/index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SubjectServlet</display-name>
    <servlet-name>SubjectServlet</servlet-name>
    <servlet-class>com.learnersacademy.servlets.SubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectServlet</servlet-name>
    <url-pattern>/Subjects</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassServlet</display-name>
    <servlet-name>ClassServlet</servlet-name>
    <servlet-class>com.learnersacademy.servlets.ClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassServlet</servlet-name>
    <url-pattern>/Classes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherServlet</display-name>
    <servlet-name>TeacherServlet</servlet-name>
    <servlet-class>com.learnersacademy.servlets.TeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherServlet</servlet-name>
    <url-pattern>/Teachers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentServlet</display-name>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>com.learnersacademy.servlets.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/Students</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectClassServlet</display-name>
    <servlet-name>SubjectClassServlet</servlet-name>
    <servlet-class>com.learnersacademy.servlets.SubjectClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectClassServlet</servlet-name>
    <url-pattern>/SubjectAllocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherSubjectClassServlet</display-name>
    <servlet-name>TeacherSubjectClassServlet</servlet-name>
    <servlet-class>com.learnersacademy.servlets.TeacherSubjectClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherSubjectClassServlet</servlet-name>
    <url-pattern>/TeacherAllocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentClassServlet</display-name>
    <servlet-name>StudentClassServlet</servlet-name>
    <servlet-class>com.learnersacademy.servlets.StudentClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentClassServlet</servlet-name>
    <url-pattern>/StudentAllocation</url-pattern>
  </servlet-mapping>
</web-app>